<header>
    <div class="header-top">
        <div class="contact-info">
            <a href="tel:+23276364688"><i class="fas fa-phone"></i> +232 76 364688</a>
            <a href="mailto:support@zeruel.org"><i class="fas fa-envelope"></i> support@zeruel.org</a>
        </div>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="header-main">
        <a href="/" class="logo">
            <img src="https://static.wixstatic.com/media/5f23d5_33290fbcf9484744a9f3802bd5cdb9d0~mv2.png" 
                 alt="Zeruel Superstore" 
                 width="200" 
                 height="auto">
        </a>
        <p>Premium Grocery Store</p>
    </div>
    <nav class="nav-menu">
        <a href="index.html">Home</a>
        <a href="products.html">Products</a>
        <a href="angeline.html">Angeline</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="subscribe.html">Subscribe</a>
    </nav>
</header>
